<!-- <h2>Hello</h2>
<app-intro></app-intro>
<app-sample></app-sample> -->
<!-- <h1>{{title}}</h1>
 <img [src]="imageurl" alt="nature"> 
<input type="text" [(ngModel)]="inputs">
<h5>{{inputs}}</h5> -->

<!-- <button><a routerLink='intro'>Take me to intro component</a></button><br><br>
<button><a routerLink='sample'>Take me to Sample component</a></button> -->

<button><a routerLink='intro'>Take me to intro component</a></button><br>



<!-- <div *ngIf="courses.length>0">
    <h1>List of courses present</h1>
</div>
<div *ngIf="courses.length==0">
    <h1>No courses yet</h1>
</div> -->

<!-- else if -->

<!-- <div *ngIf="courses.length>0; else nocourses">
    <h1>List of courses present</h1>
</div>
<ng-template #nocourses>
    <h1>No courses yet</h1>
</ng-template> -->



 <!-- <button (click)="onAdd()">ADD</button>
<ul>
    <li *ngFor="let course of courses; even as isEven">
        {{course.name}} <span *ngIf="isEven">(EVEN)</span>
        <button (click)="onRemove(course)">Remove</button>
        <button (click)="onChange(course)">Update</button>
    </li>
    
</ul>  -->



<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- 
<button><a routerLink='attribute'>Take me to attribute component</a></button><br><br>
<button><a routerLink='parent'>Take me to parent component</a></button><br><br>
<button><a routerLink='child'>Take me to child component</a></button><br><br> -->




<!-- form controls -->
<button><a routerLink='template'>Take me to template component</a></button><br>
<button><a routerLink='reactive'>Take me to reactive component</a></button><br>
<button><a routerLink='contact'>Take me to contact-list component</a></button><br>
<button><a routerLink='pipe'>Take me to Pipe component</a></button><br>
<button><a routerLink='custom'>Take me to custom component</a></button><br>
<button><a routerLink='observables'>Take me to observables component</a></button><br>
<button><a routerLink='first'>Take me to First component</a></button><br>
<button><a routerLink='second'>Take me to Second component</a></button><br>

<router-outlet></router-outlet>